[2017-10-18 03:36] tamalsaha opened #13 "Seeking advice for generating openapi spec for CRD"
@mbohlool , is there an example on how to use this generator to generate/serve open api spec for CRDs from GO types?

From https://github.com/kubernetes-client/java/issues/96, I am looking for ways to generate non-Go client for CRDs.

Any help is much appreciated!

[2017-10-18 20:33] mbohlool commented on #13
There are two parts in OpenAPI generation and handling:

1- Generating a model from a go type. This should be possible with this library. Look at my answer to [this stackoverflow thread](https://stackoverflow.com/questions/46592085/go-structs-to-openapi-to-jsonschema-generation-automatically/46615249#46615249).

2- Creating the OpenAPI spec from the model generated in 1. You need to also add routi

[2017-10-18 20:53] tamalsaha commented on #13
Thanks a lot @mbohlool ! I will give it a try and see how it goes.

[2017-10-22 20:39] tamalsaha commented on #13
@mbohlool , I was able to generate openapi spec from appscode/voyager project.

generated spec: https://github.com/appscode/voyager/blob/master/apis/voyager/v1beta1/openapi_generated.go

Generator command: https://github.com/appscode/voyager/blob/0370feff31c1012c3e94a52bb4218136ca6e4a42/hack/codegen.sh#L51

I am not sure what is the next step? How do I server this spec so that swagger generators c

[2017-10-24 18:33] mbohlool commented on #13
This generates only models. You need to provide a route list to `pkg/builder` of `kube-openapi` repo to get an `spec.Swagger` that is a final spec. You can serve that directly yourself or you can use `kube-openapi/pkg/handler` to do that (handler have a connivance method that accept parameters for both builder and handler, then build and handle the spec. main kubernetes repo call that method, so y

[2017-11-02 01:18] mbohlool opened #19 "Create a kube-openapi documentation"
Write a full documentation on how to use Kube-OpenAPI.

[2017-11-10 14:14] sttts commented on #13
/xref https://github.com/kubernetes/kubernetes/pull/55472

[2017-12-11 11:58] amir opened #26 "Adding Validation Constraints"
Hi,

I'm interested in tackling https://github.com/kubernetes/kubernetes/issues/8116 and https://github.com/kubernetes/kubernetes/issues/24562. I understand that this project wishes to remain free of Kubernetes particularities, and I also see there's an attempt at integrating kube-openapi at https://github.com/kubernetes/kubernetes/pull/55472.

So my question is if my end goal is to add enums to t

[2017-12-11 20:55] xinyanmsft opened #27 "changes around VisitArbitary rename broke building an initializer"
we have an Go app that run as an Kubernetes initializer. It imports the following:

    "k8s.io/client-go/tools/clientcmd"

    "github.com/ghodss/yaml"

    "k8s.io/api/apps/v1beta1"
    corev1 "k8s.io/api/core/v1"
    metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"
    "k8s.io/apimachinery/pkg/fields"
    "k8s.io/apimachinery/pkg/runtime"
    "k8s.io/apimachinery/pkg/types"
    "k8s.io/apimachiner

[2017-12-11 23:24] ericchiang commented on #27
Seeing this too trying to update kube-openapi in kubernetes/kubernetes

cc @mbohlool

[2017-12-12 18:44] erictune commented on #13
xref https://github.com/kubernetes/code-generator/issues/28

[2017-12-12 22:16] #27 closed

[2018-01-03 19:53] font opened #31 "OpenAPI codegen should allow providing list of directories to search for dependencies"
When running the `openapi-gen` code generator in the [kubernetes/cluster-registry](https://github.com/kubernetes/cluster-registry) repo executed by the [lines in this script](https://github.com/kubernetes/cluster-registry/blob/1dbd8e00c25532ca111a88d0c060bdd8ea47ebc1/hack/update-codegen.sh#L114-L120), I see several `could not import <some-package-import-path>` errors for dependencies that are loca

[2018-01-08 22:09] mbohlool commented on #26
The project is not intend to replace go-restful but it would free us from go-restful by supporting OpenAPI. When we remove swagger 1.2 support from the main repo, we can use any routing library instead of go-restful. For validation and enum, you should add them here first, but for validation, we may need a more detailed design though I am not against adding regex validation to strings but it shoul

[2018-01-11 06:24] brendandburns opened #33 "openapi spec should have authMethods section"
See: https://github.com/kubernetes-client/java/issues/163

[2018-01-31 06:00] nikhita commented on #19
/remove-lifecycle stale

[2018-02-03 01:58] jessesuen commented on #13
In case others can benefit from this, I wasn't able to get this to work using only kube-openapi. Instead I constructed the go-openapi `spec.Swagger ` directly and fed it the models which were generated by kube-openapi. The solution can be seen here:
https://github.com/argoproj/argo/blob/master/hack/gen-openapi-spec/main.go

which generates this:
https://github.com/argoproj/argo/blob/master/api/ope

[2018-03-10 06:36] tamalsaha commented on #13
@jessesuen your swagger.json is missing the api call information. To generate client that information will be needed.

[2018-03-23 21:12] anubhakushwaha commented on #19
@mbohlool It will be really awesome to have this please.

[2018-04-09 03:57] nikhita commented on #31
/lifecycle stale

[2018-04-09 04:03] nikhita commented on #31
/remove-lifecycle stale

[2018-04-09 08:08] tamalsaha commented on #13
I have figured out how to get this to work. Here is my working demo: https://github.com/tamalsaha/kube-openapi-generator

[2018-04-09 08:08] #13 closed

[2018-04-14 12:29] nikhita opened #51 "openapi-gen lacks support for enum"
From @tamalsaha's issue https://github.com/kubernetes/kubernetes/issues/62325 and @mbohlool's suggestion to open an issue in this repo,

Currently I generate CRD schema validation using a pipeline like below:

[code]

While this works, openapi-gen does not generate spec information for enums . We would like to see this supported.

[1] crd-validation: https://github.com/ant31/crd-validation

[2018-04-14 12:30] nikhita commented on #51
/cc @sttts @munnerz

[2018-04-14 12:32] nikhita opened #52 "Generate valid openapi spec for intstr.IntOrString"
From @tamalsaha's issue https://github.com/kubernetes/kubernetes/issues/62329 and @mbohlool's comment to create an issue in this repo (https://github.com/kubernetes/kubernetes/issues/62329#issuecomment-381227784),

Currently openapi-gen generated spec for intstr.IntOrString only allows string types. https://github.com/kubernetes/apimachinery/blob/5d4f0da8e5fde7cbadf8ab3ce5cfb76f86dd854e/pkg/util/i

[2018-05-04 20:31] mbohlool opened #66 "Aggregator should not fail on OpenAPI specs with no definition or Path"
Recently I encountered a bug that aggregator failed because an OpenAPI spec did not have a Path item (null pointer exception). We should make sure all nullable fields are accounted for in the aggregation.

ref: https://github.com/kubernetes/kube-openapi/blob/39a7bf85c140f972372c2a0d1ee40adbf0c8bfe1/pkg/aggregator/aggregator.go#L145

[2018-05-08 18:04] mbohlool commented on #66
Look like path is a required field in OpenAPI spec. We should, however, return an error here when Paths is nil (interesting that Paths is a pointer when it shouldn't be).

[2018-05-08 20:00] roycaihw commented on #66
/assign
/unassign @mbohlool

[2018-05-08 23:32] #66 closed

[2018-05-24 14:43] jessfraz opened #75 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-07 23:13] #26 closed

[2018-06-22 12:53] anubhakushwaha commented on #19
@nikhita Any idea if this was updated/documented?

[2018-06-22 21:42] lavalamp opened #87 "Validation: deserialization time vs creation time concerns"
Proto (and, it seems, json-schema) have a "required" concept, by which they mean that you cannot decode/deserialize an object that lacks the field.

Kubernetes has a required concept, by which we mean you cannot create an object if it lacks the field.

Fields that are "required" in the Kubernetes sense are *NOT* required in the proto/json-schema sense: There are valid uses of kubernetes resources

[2018-06-22 21:44] lavalamp commented on #87
@roycaihw @apelisse @sttts @mbohlool fyi

Note, this might mean we can't use the available schema checkers, or have to modify our spec documents and use them in two passes.

[2018-06-22 22:21] roycaihw commented on #87
JSON Schema considers an object instance valid if all required properties are present (value can be `null` as long as key exists)
https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.3

OpenAPI Spec v2.0 inherits json-schema definition on `required`
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object

My question is what's Kubernetes' conce

[2018-06-22 22:35] lavalamp commented on #87
Clients should not perform the "validation-time enforcement" actions on the results they get from apiserver, IMO.

[2018-06-22 22:51] roycaihw commented on #87
From client perspective (https://github.com/kubernetes-client/gen/issues/52), apiserver isn't violating any rule by returning `null` for required arrays. We should remove the client-side validation generated by `swagger-codegen` @mbohlool?

[2018-06-22 23:58] Arnavion commented on #87
As far as I can see, `null` is indeed a valid value for a "required" property, but the violation is that `null` is *not* a valid value for an `array` type. JSON schema defines the type of a `null` value to be `null`. So since `APIGroup`'s `serverAddressByClientCIDRs` is defined as `"type": "array", "items": { "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.ServerAddressByClientCIDR" }`

[2018-06-23 00:02] Arnavion commented on #87
Also, conversations about client-side validation should keep in mind that some languages are more strongly-typed than Python :) My Rust codegen trusts the spec and uses `Vec<...>` for `APIGroup`'s `serverAddressByClientCIDRs` property. There is no client-side validation that can be "disabled" here that would allow `null` to be parsed as a `Vec`.

[2018-06-23 00:44] roycaihw commented on #87
@Arnavion That makes a lot of sense. Thanks for clarifying!

[2018-07-05 09:29] nikhita commented on #19
Afaik no, it wasn't updated.

/remove-lifecycle stale

[2018-07-15 14:03] nikhita commented on #52
/remove-lifecycle stale

[2018-07-16 09:23] aojea opened #91 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-18 03:38] nikhita commented on #51
/remove-lifecycle stale

[2018-07-19 23:27] #91 closed

[2018-07-23 22:44] devdattakulkarni opened #95 "Integration test README corrections"
Found following issues in the README inside test/integration folder

1) The command to generate openapi_generated.go should be:

go run ../../cmd/openapi-gen/openapi-gen.go -i "./testdata/listtype" -o pkg -p generated -O openapi_generated

2) There is a typo in this line: The generated file `pkg/generaged/openapi_generated.go` should have been created.

It should be "pkg/generated/openapi_generate

[2018-07-23 22:54] devdattakulkarni opened #96 "Working example"
When trying to generate Open API spec for the provided sample testdata, I am getting following API validation error:

$ go run ../../cmd/openapi-gen/openapi-gen.go -i "./testdata/listtype" -o pkg -p generated -O openapi_generated

API rule violation: names_match,./testdata/listtype,AtomicList,Field
API rule violation: names_match,./testdata/listtype,Item,Port
API rule violation: names_match,./test

[2018-07-27 01:41] devdattakulkarni opened #97 "Using kube-openapi + 'kubectl explain' on Custom Resources?"
I was wondering if 'kubectl explain' can be used to find out information about Custom Resources?

Based on my understanding of kube-openapi and 'kubectl explain' workflow, it seems to me that this is currently not possible. Is this correct understanding?

I have written up my analysis here:
https://medium.com/@cloudark/understanding-kubectl-explain-9d703396cc8

Could you take a look and let me kno

[2018-07-27 06:05] sttts commented on #97
We don't publish the validation OpenAPI schema of CRD as part of the swagger.json. We should do that (with some loss in expressivity because we are still on OpenAPI v2 there, but on v3 for CRD validation). I am sure we also have an issue for that. This isn't too hard to do, just nobody did it.

[2018-07-27 06:09] sttts commented on #97
I don't agree with the `kubectl get --raw /apis/kubediscovery.cloudark.io/v1/namespaces/default/Postgres/
explain` approach from the linked medium post. The OpenAPI spec published by the API server has to be updated dynamically in-memory with CRD validation schemata. This is possible and the whole apiserver architecture is build towards that.

[2018-07-27 16:44] devdattakulkarni commented on #97
Thanks @sttts for the inputs.

I will be happy to contribute on this issue. Can you share the link to the issue
and any other relevant pointers?

[2018-07-31 17:05] #95 closed

[2018-08-01 21:36] brendandburns commented on #33
/reopen

This is a long-standing issue that should be kept open...

[2018-08-07 06:04] nikhita commented on #31
/remove-lifecycle rotten

[2018-08-22 06:58] dailong commented on #96
I have this problem too. How did you solve it?

[2018-08-27 11:45] devdattakulkarni commented on #96
@dailong If you add // +k8s:openapi-gen=true on your Type definition then you should be able to generate OpenAPI Spec for your Type. If there is any validation error then fix your Type definition and try again. The error that I have ran into typically is the name validation error. This means that in the  type definition there is some problem with how names are defined in the type spec or the type

[2018-08-30 20:40] dailong commented on #96
I got it. thanks

[2018-08-31 22:31] #33 closed

[2018-09-16 10:42] kargakis opened #101 "Make k8s:openapi-gen a parameter to the generator"
/assign mbohlool

[2018-09-25 20:32] seans3 opened #103 "Verify full openapi swagger can still be parsed."
This issue is moved from kubectl repo.

Since kubernetes/kube-openapi#10 is moving parsing code for openapi from the main repo to https://github.com/kubernetes/kube-openapi/, we need to verify that the full swagger openapi file can still be parsed.

This is just a reminder that we need to do that.
In other word, we need to add a test in the main repo that verifies that the parsing code can parse t

[2018-09-25 20:32] seans3 commented on #103
/assign apelisse

[2018-09-25 20:37] apelisse commented on #103
[This PR](https://github.com/kubernetes/kube-openapi/pull/78) is the foundation block to fix this issue.
It's building an integration test so that we can make sure all the steps are working fine, including parsing the generated `swagger.json`.

If anybody wants to work on this, I'd be happy to provide guidance

/help
/unassign

[2018-10-03 11:02] nikhita commented on #19
/remove-lifecycle stale

[2018-10-19 04:35] mingfang commented on #97
is there a plan for this?

[2018-10-19 12:29] devdattakulkarni commented on #97
@mingfang I haven't heard anything on it yet.

I the mean while we have implemented the solution outlined in the blog post.
If you are interested in checking it out, try the steps here:
https://github.com/cloud-ark/kubeplus/blob/master/kubeplus-steps.txt

OpenAPI Spec for Postgres custom resource can be queried as shown in line:
https://github.com/cloud-ark/kubeplus/blob/master/kubeplus-steps.txt#

[2018-10-31 20:46] lavalamp opened #114 "Configure kube-openapi to use prow for CI instead of Travis"
To prevent problems like this: https://github.com/kubernetes/kube-openapi/pull/113#discussion_r229855182

[2018-11-10 00:51] roycaihw opened #117 "Remove klog dependency"
The error surfacing in this package should be self evident.

A self-contained system like Kubernetes which imports kube-openapi may use logging module (glog/klog) to do V-style logging. However this package don't have a good reason to use glog/klog, which interferes/makes assumption about logging mechanism used by downstream systems.

ref: https://github.com/kubernetes/kube-openapi/pull/115

/good

[2018-11-16 16:01] openstacks opened #119 "Fail to run kube-openapi/test/integration/builder/main.go"
when I run main.go, it throws the following error:
kube-openapi/test/integration/builder/main.go:95:22: unknown field 'ResponseDefinitions' in struct literal of type common.Config

[2018-11-18 14:46] mingfang commented on #97
It looks like progress relating to this is being made in kubernetes v1.13.

[2018-11-20 00:20] roycaihw commented on #97
kubernetes/kubernetes#67205 was moved out of 1.13 because we hit some snags. We opened https://github.com/kubernetes/kubernetes/pull/71192 to continue the development. It will address the `kubectl explain` CR issue.

[2018-11-20 02:35] #87 closed

[2018-12-05 05:16] nikhita commented on #75
/remove-lifecycle stale

[2018-12-08 23:32] Jeffwan commented on #19
Documentation would be really helpful.. It's not beginner friendly..

[2018-12-21 10:08] fejta commented on #75
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 21:55] fejta commented on #75
kubernetes/kube-openapi still needs a SECURITY_CONTACTS file.
/assign @mbohlool @lavalamp @roycaihw @seans3 @apelisse

[2018-12-22 19:39] palash25 commented on #117
Hi @roycaihw new contributor here :wave: would like to take a crack at this issue. Just need clarification on one thing, if we don't want logging what would you want it to be replaced by? `print` statements?

[2019-01-04 08:17] #31 closed

[2019-01-04 19:21] enj opened #129 "Having the same type embedded more than once breaks generation"
`ServiceServingCertSignerConfig` embeds `metav1.TypeMeta` and `configv1.GenericControllerConfig`: https://github.com/openshift/api/blob/master/servicecertsigner/v1alpha1/types.go#L15-L21

At the time, `configv1.GenericControllerConfig` also embedded `metav1.TypeMeta`, which led to:

[code]

[code]

[2019-01-11 07:14] runzexia opened #130 "openapi-gen should supoort default base package path"
In my project, I will use the following command to generate deepcopy.
[code]
[code]

but if got error
[code]
So I have to write a separate generate command for each package, I think it is necessary to have openapi-gen and deepcopy-gen have similar behavior, which can save a lot of unnecessary code.
[code]

[2019-01-28 03:18] runzexia opened #131 "Generate openapi spec for CRD's status subresources"
https://github.com/kubernetes/kube-openapi/issues/13
I made some attempts based on this problem, and finally generated the openapi spec of the CRD, but I also want to generate the openapi spec of the CRD status sub-resource. Do you have any suggestions?
@mbohlool  @tamalsaha

[2019-01-28 03:19] runzexia commented on #131
https://github.com/runzexia/kubesphere-openapi-generator
https://github.com/runzexia/kubesphere-crd-sample

[2019-01-28 06:18] #131 closed

[2019-02-13 12:32] #101 closed

[2019-02-22 22:14] #103 closed

[2019-03-14 01:25] roycaihw commented on #97
the publish CRD openapi feature has been merged in 1.14 https://github.com/kubernetes/kubernetes/pull/71192

website documentation on how to enable the feature is to be merged in https://github.com/kubernetes/website/pull/12910

/close

[2019-03-14 01:25] #97 closed

[2019-03-26 04:03] mingfang commented on #97
@roycaihw It looks like 1.14 does not fully address this issue.
Given this CRD
[code]
kubectl explain only shows the metadata but not the spec.
[code]
I expected the spec to be filled in.
Using the openapi's visitor pattern, I'm getting called on VisitArbitrary() for the spec.
This call does not have any information about the spec, such as cronSpec in this case.

How does kubectl handle this?

[2019-03-26 08:30] sttts commented on #97
You forgot to specify `type: object` for the spec. For backwards compatibility reasons we cannot publish `properties` "alone".

[2019-03-26 12:41] mingfang commented on #97
@stts Thanks. I confirm that setting spec.type = object works.

[2019-03-26 13:16] mingfang commented on #97
I ran a few tests with variations of the crontab CRD.
First is the basic CRD without any openAPIV3Schema, second is with openAPIV3Schema but not spec type(above) and finally with spec.type = object.

In all cases, the request sent by```kubectl create -f crontab.yaml --v=8``` where crontab is
[code]
is the same
[code]

Can I assume from this that kubectl and api-server always expects the spec to be

[2019-03-27 08:47] sttts commented on #97
@mingfang if you don't specifiy it, the type of `spec` is not checked. The create call always does the same.

[2019-03-27 13:25] mingfang commented on #97
I think this needs to be documented.
The crontab crd example I used was from this document https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/ and it does not set spec.type to object.

[2019-03-27 15:19] devdattakulkarni commented on #97
+1 about documentation

@mingfang
Do you have a github gist or something of your exact setup and steps.
I would like to try it out as well.

@sttts I guess can suggest where the documentation can go eventually.

[2019-03-27 17:14] mingfang commented on #97
@devdattakulkarni
I created a repo with tests here https://github.com/mingfang/kubernetes-crd-test

[2019-03-27 17:39] devdattakulkarni commented on #97
@mingfang: Thanks!!

[2019-03-30 22:20] #114 closed

[2019-04-04 21:49] devdattakulkarni commented on #97
@sttts Reading through https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2 and the examples by @mingfang at https://github.com/mingfang/kubernetes-crd-test
I was wondering why is explain functionality for CRDs tied with OpenAPI validation? Not all CRDs will necessarily have Spec validation defined. But every C

[2019-04-04 21:57] mingfang commented on #97
The reason is because kubectl explain works by loading the openapi published by the apiserver.  The new feature in 1.14 is to publish CRDs with validation schema as part fo the openapi, which enables my test case #2 and #3 to work.

You are correct that most CRDs fall in the test case #1 scenario and do not have openapi validation.  Without it, there's really nothing to "explain".  Hopefully more

[2019-04-04 23:13] devdattakulkarni commented on #97
@mingfang I understand the implementation. But I don't understand why there is no need to "explain" a CRD that does not have any validation defined. To me, "explain" is about showing the fields that are available in Custom Kind Spec and their descriptions - what do they do, how to use them, etc. This has nothing to do with validation -- at least I don't see how validation can be a dependency for t

[2019-04-04 23:49] mingfang commented on #97
@devdattakulkarni Without openAPIV3Schema, the only fields to explain are the basic metadata fields.

Basically the CRD here https://github.com/mingfang/kubernetes-crd-test#test-case-1 can have the same explain output here https://github.com/mingfang/kubernetes-crd-test#test-case-2.

I made the same comment before(above) but apparently that can't be done due to backwards compatibility issue with k

[2019-04-05 00:49] devdattakulkarni commented on #97
@mingfang Thanks for the pointer to #71159. Reading through the comments in there, I agree with you that not everyone will necessarily provide validation schema in the CRD definition. The backward compatibility issue with kubectl seems to be the blocker. But even after that is resolved, I am wondering how would explain behave for spec properties for which validation is not defined in the schema. D

[2019-04-07 17:07] devdattakulkarni opened #153 "'Cannot find model definition for' error during JSON generation"
I am trying to generate OpenAPI Spec for some custom type definitions. There are no validation errors and openapi_generated.go is correctly generated. The custom type definition has a field whose type is apimachinery's v1.Time. When using builder.go to generate the JSON OpenAPI Spec, I am getting following error:

2019/04/07 12:00:08 ERROR: cannot find model definition for k8s.io/apimachinery/pkg/

[2019-04-07 17:33] devdattakulkarni commented on #117
@roycaihw Can you elaborate on what would it take to resolve this issue?

[2019-04-15 18:17] #119 closed

[2019-05-08 00:59] #19 closed

[2019-05-16 12:32] enj commented on #129
/remove-lifecycle rotten
/lifecycle frozen

[2019-05-30 00:47] roycaihw opened #163 "CI doesn't honor go module and fails presubmit"
https://travis-ci.org/kubernetes/kube-openapi/builds/539009857

travis-ci in this repo doesn't honor go module
[code]

instead of fetching the pinged commit, the CI fetches package from HEAD, which includes [public interface change](https://github.com/kubernetes-sigs/structured-merge-diff/commit/f55a48602016b8ecfb93d6a7edc3162e08b91f1b), and fails to compile
[code]

cc @apelisse

[2019-05-30 00:48] roycaihw commented on #163
/kind failing-test

[2019-05-30 01:11] roycaihw commented on #163
/assign

[2019-05-30 02:40] roycaihw commented on #163
the CI fails at the step executing `travis_install_go_dependencies 1.12 -v`, in which [go get](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/bash/travis_install_go_dependencies.bash#L24) is invoked

[code]

`travis_install_go_dependencies` didn't see gomodules enabled because we didn't export the env

[2019-06-03 18:21] #163 closed

[2019-06-10 09:01] #130 closed

[2019-07-18 08:34] nghialv opened #167 ""gnostic" should be updated"
Hi

With the current version of `gnostic` we got the following message.

[code]

Related issue: https://github.com/kubernetes/client-go/issues/636

[2019-07-18 08:37] sttts commented on #167
Can you create a PR depending on the right version?

[2019-07-18 09:30] nghialv commented on #167
Sure. Please check #168

[2019-07-18 09:39] sttts commented on #167
tagged

[2019-07-18 09:40] #167 closed

[2019-07-19 01:02] nghialv commented on #167
Hi @sttts,

After switching to use `github.com/googleapis/gnostic v0.0.0-20170729233727-0c5108395e2d` (same with the version included in the [master of `client-go`](https://github.com/kubernetes/client-go/blob/master/go.mod#L17
)), I still got that error from gomod.

I tried to `replace` `gnostic` with the latest version (master) and that error disappeared.

[code]

So I think to resolve the root

[2019-08-15 23:30] lblackstone opened #171 "Feature request: Add a boolean "forces replacement" field to properties"
I'm not sure how difficult this would be, but it would be really handy if we could annotate each property that will force a replacement of the related resource.

For example, changing the `.spec.affinity` field of a Pod will force a replacement. We've manually curated a list of the ones we've encountered here: https://github.com/pulumi/pulumi-kubernetes/blob/e9f9dda531c3b8cfff519fd438a01f878d5e271

[2019-09-04 19:04] #153 closed

[2019-09-04 20:05] #117 closed

[2019-09-20 20:17] michaeljmarshall opened #174 "Kubernetes apimachinery dependency issue for InternalEvent"
### Summary
I'm trying to use this library to generate the JSON openapi spec for the [spark-on-k8s-operator](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/), but I am running into an issue going from the generated models to the spec. Ultimately, I think root issue is a missing `+k8s:openapi-gen=false` annotation in the kubernetes apimachinery module. Since those annotations are used

[2019-09-25 07:23] sttts commented on #174
Are you trying to generate the spec for a CRD? Then better use kubebuilder's controller-tools, e.g. the `schemapatch` command (https://github.com/kubernetes-sigs/controller-tools/blob/master/cmd/controller-gen/main.go#L140).

I would consider the openapi generator here deprecated and only to be used for the very specific use-case of aggregated API servers.

[2019-09-26 06:59] michaeljmarshall commented on #174
@sttts -- thanks for your insight here. I didn't realize the limited scope of this generator. I have a `SparkApplication` CRD that is defined in the [spark-on-k8s-operator](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/) repo. My end goal is to generate a Java client that knows about the CRDs defined in that project so that I can introduce type safety as well as make it easier to ha

[2019-09-26 08:09] sttts commented on #174
https://github.com/kubernetes-sigs/controller-tools/blob/master/cmd/controller-gen/main.go#L140 will give you a schema in your CRD manifest. Create that in a cluster and download the OpenAPI spec from the cluster: `kubectl get --raw /openapi/v2`. That should do it for client generators.

[2019-10-11 21:50] michaeljmarshall commented on #174
@sttts - I am not sure I am following you. It seems inverted to me that I'd need to inspect my kubernetes cluster in order to get an OpenApi spec for a well defined CRD. There should be a way to generate an OpenApi spec that I could then use to generate a client library containing the data models for that CRD. I'd use the generate CRD code as a library to simplify serialization and deserialization

[2019-10-14 06:39] sttts commented on #174
It might partly work now, but is no supported use-case of openapi-gen and it won't be extended towards CRDs. The spec is incomplete and also partly wrong (AFAIK, int-or-string is not generated correctly, maybe other types too).

[2019-10-14 16:31] michaeljmarshall commented on #174
It surprises me that there isn't an easy way to generate library definitions for CRDs. Thank you for the additional context and help here.

[2019-10-14 16:31] #174 closed

[2019-10-25 19:12] camilamacedo86 opened #175 "Error `API rule violation: list_type_missing` is faced when the type is `[]string`"
We are using `k8s.io/kube-openapi v0.0.0-20190603182131-db7b694dc208` and facing `API rule violation: list_type_missing` when the impl is as follows.

[code]

So, we would like to know if is a bug or the expected behaviour? If it is a bug, could you help us by letting us know if it is solved already?

We could solve the validation issue by doing as follows.

[code]
Extra :

Following the others lb

[2019-10-25 20:36] sttts commented on #175
It is expected because kube-opanapi now expects list-type tags on slices as preparation of server-side-apply. @apelisse knows more.

We have hundreds of exception in kube itself: https://github.com/kubernetes/kubernetes/blob/36981002246682ed7dc4de54ccc2a96c1a0cbbdb/api/api-rules/violation_exceptions.list

[2019-10-25 20:40] apelisse commented on #175
I'm currently looking at the documentation for all things related to that, so thanks for the report.
Ideally, we'll document this properly and then enforce this a little stronger.

[2019-10-25 20:58] camilamacedo86 commented on #175
Really thanks. @sttts and @apelisse for the confirmation.
Please, feel free to close this one if you wish or keep open to tracking the need to doc that.

[2019-11-05 19:41] mariantalla opened #177 "Add support for +mapType, +structType"
The two annotations used to describe the topology of maps and structs, `+mapType` and `+structType`, should result in generating the equivalent openapi extensions (`x-kubernetes-map-type` and `x-kubernetes-struct-type` respectively). This is [documented](https://github.com/kubernetes/kube-openapi/blob/0270cf2f1c1d995d34b36019a6f65d58e6e33ad4/pkg/idl/doc.go) but not implemented at the moment.

/ass

[2019-11-05 23:00] alculquicondor commented on #175
How do you set the type?

[2019-11-06 01:39] camilamacedo86 commented on #175
Hi @alculquicondor,

See [here](https://github.com/operator-framework/getting-started#define-the-memcached-spec-and-status) in the Getting Started an example. Also, now you can find its info in the migration doc as well.

[2019-11-06 11:52] sttts commented on #177
:+1:

[2019-11-06 11:54] sttts commented on #177
Can you do the same addition to controller-tools? (compare https://github.com/kubernetes-sigs/controller-tools/pull/345 for an example). I would like to make sure we use the same markers for both kube-openapi and kubebuilder's controller-tools.

cc @DirectXMan12

[2019-11-06 14:16] mariantalla commented on #177
Yep, coming up next (sorry, should have created an issue 🤦‍♀ will go ahead and do that now). Thanks for the pointer too 🙏

[2019-11-29 16:15] jpkrohling opened #180 "Allow properties to be skipped from the generation"
In the Jaeger Operator, we have structs similar to this:

[code]

Generating the CRD with the OpenAPI Schema generates a CRD with 1.3M:

[code]

Kubernetes, in turn, refuses this CRD:

[code]

Unfortunately, it looks like overriding the tag `k8s:openapi-gen` to `false` in the `JaegerCommonSpec` type has no effect. Neither has overriding the tag at the property level, so, my request here is to allo

[2019-12-02 03:24] yue9944882 commented on #180
per-field `// +k8s:openapi-gen=false` tag should work i remember, did you try that?

[2019-12-02 09:03] jpkrohling commented on #180
Indeed, I just tried it on a simplified new project and `+k8s:openapi-gen=false` is effective. Closing.

[2019-12-02 09:03] #180 closed

[2020-01-28 16:57] mtaufen opened #184 "Bug in GetCanonicalTypeName?"
The go-restful `Returns` directive says it's ok to use a nil interface value for the `model`: https://godoc.org/github.com/emicklei/go-restful#RouteBuilder.Returns

But when I pass nil in (in this case while adding a new route to the K8s API server), it causes a nil pointer dereference in `GetCanonicalTypeName`. I think this is because `reflect.TypeOf` returns nil when given a nil interface, but w

[2020-01-29 22:19] lavalamp opened #185 "Items fields in List types do not need annotations"
https://github.com/kubernetes/kube-openapi/blob/master/pkg/generators/rules/idl_tag.go#L25

This code needs to make an exception for List types (served as a result of a LIST verb and never a target for a mutating operation).

If:
* There's a `Metadata v1meta.ListMeta` sibling field AND
* The field is named "Items" and is a list of something

Then we should actually require that people NOT include

[2020-01-29 22:19] apelisse commented on #185
/wg apply

[2020-01-29 22:20] apelisse commented on #185
/cc @mariantalla

[2020-01-30 17:22] #177 closed

[2020-02-03 15:07] mariantalla commented on #185
/assign

[2020-02-04 17:19] apelisse commented on #175
We have done a lot of efforts to improve the documentation and we're keeping track of it somewhere else, I'm closing this now. FYI @mariantalla

/close

[2020-02-04 17:19] #175 closed

[2020-02-04 17:47] mariantalla commented on #185
Closing this, let's reopen if needed.

/close

[2020-02-04 17:47] #185 closed

[2020-02-04 17:56] lavalamp commented on #185
Do we need to bump the version in k/k to start giving people the new error
messages?

On Tue, Feb 4, 2020 at 9:47 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-02-04 18:56] apelisse commented on #185
Yeah, I suspect that's also going to force us to remove a lot of the "exceptions", which is always good.

[2020-02-04 18:56] apelisse commented on #185
@mariantalla Do you want to take care of it? (not today ;-)

[2020-02-14 02:37] alexec commented on #174
Reading comments on bug was key in helping me solve my own bug. Thank you.

[2020-05-12 16:14] mtaufen commented on #184
/remove-lifecycle stale
/assign @apelisse to find an owner/determine if this is still an issue/close if already fixed

[2020-05-12 16:14] mtaufen commented on #184
/assign @apelisse
to find an owner/determine if this is still an issue/close if already fixed

[2020-08-11 17:09] jpbetz opened #203 "Expand coverage/support for atomics"
We have a bunch of cases involving the composition of atomics that we don't yet test.

We need to define and test the behavior of all of them. Creating a grid out all possible combinations might be a good first step.

Here are a few we are aware of:

#### map typeref is tagged with +mapType=atomic (not supported or tested)

[code]

#### reference to map typeref is tagged with +mapType=atomic (not

[2020-08-11 17:09] jpbetz commented on #203
/cc @apelisse

[2020-08-11 17:16] jpbetz commented on #203
xref https://github.com/kubernetes-sigs/structured-merge-diff/issues/163

[2020-08-11 20:20] apelisse commented on #203
I think you've captured the interesting cases, thanks

[2020-08-11 23:50] roycaihw opened #205 "Add a linter that verifies listMapKeys refer to json tags that exist"
Ref https://github.com/kubernetes/kubernetes/pull/92064#discussion_r468612029

Add a [linter](https://github.com/kubernetes/kube-openapi/tree/master/pkg/generators/rules) to catch `listMapKey` (e.g. apiserverID) that mismatches actual field name (e.g. apiServerID).

The specific bug was merged with the [API definition](https://github.com/kubernetes/kubernetes/pull/88607). It was detected when we a

[2020-08-18 01:43] eclipseo opened #206 "Update to gnostic v0.5.1?"
I'd like to use kube-openapi with latest gnostic (0.5.x) but there is an incompatibility between yaml v2 used by kube-openapi and yaml v3 used by gnostic since version 0.5.0: https://github.com/googleapis/gnostic/issues/195

May you please update kube-openapi to use the latest gnostic (0.5.1)?

[2020-08-21 09:24] Hyzhou opened #207 "Downgrade to gnostic v0.1.0?"
newest client-go@v0.18.8 used gnostic@v0.1.0 only.
package "github.com/googleapis/gnostic/openapiv2" and "github.com/googleapis/gnostic/OpenAPIv2" was conflict.

It caused a big dependency problem.

[2020-09-18 11:00] c10l commented on #207
Is there a workaround for this issue? I'm trying to build a CRD using latest kubebuilder but I'm stuck trying to create an API because of this...

[2020-10-09 10:28] StiviiK opened #209 "Case-Insensitive Import Collision: gnostic/openapiv2"
I upgraded my dependencies for my operator using `go get -u all` but now I receive the following error:
`../../../../.go/pkg/mod/k8s.io/kube-openapi@v0.0.0-20200923155610-8b5066479488/pkg/util/proto/document.go:24:2: case-insensitive import collision: "github.com/googleapis/gnostic/openapiv2" and "github.com/googleapis/gnostic/OpenAPIv2"`

go.mod:
[code]

[2020-10-09 18:34] #184 closed

[2020-11-09 22:58] apelisse commented on #203
I said in the other issue that this is fixed, but I can't find what fixed it?

[2020-12-07 13:30] whalecold commented on #209
same issue with it

[2020-12-08 23:49] agoyal-sfdc commented on #209
Found this useful to get myself unblocked: https://stackoverflow.com/questions/43618860/how-to-handle-case-sensitive-import-collisions

[2020-12-14 18:16] Jefftree commented on #203
/remove-lifecycle rotten

[2020-12-16 22:01] kitchen-squarespace commented on #209
same

[2020-12-16 22:13] kitchen-squarespace commented on #209
I'm actually having a problem with it with git on macos because case sensitive vs not case sensitive:

[code]

but if I remove the file:

[code]

I'm thinking there are files in 2 different directories in git named the same thing but with different case: one as `openapiv2` and the other as `OpenAPIv2`:

[code]

And because macos filesystems are case insensitive by default (and ... trust me, I've t

[2020-12-16 22:20] kitchen-squarespace commented on #209
I fixed this in my vendor directory by removing both cases:

[code]

and then re-running `go mod vendor`:

[code]

And that seemed to help with my side of things.

[2020-12-24 11:36] yannh opened #218 "Implement support for Enum values"
Initially opened here https://github.com/kubernetes/kubernetes/issues/97503  but I believe this improvement suggestion might be better here? This is about supporting parameters that support a list of values:

The "Protocol" parameter of a ContainerPort needs to be one of 'TCP', 'UDP', or 'SCTP' - as documented here

kubernetes/staging/src/k8s.io/api/core/v1/types.go

Line 1837 in ddf3eb5
 // Proto

[2020-12-24 11:54] yannh commented on #218
I've started toying with adding a new tag which I'm currently calling "Valid":

// A string with a list of accepted values
// +valid="TCP","UDP","SCTP"
StringEnum string

Let me know if this makes sense!

[2020-12-25 12:27] yannh opened #219 "Question: can the pkg/validation/ module be used to validate Manifests against the Kubernetes Swagger file?"
Hello! I've spent some time hacking on kubeval, and a separate, similar project called kubeconform. Both rely on JSON schemas generated from the Kubernetes Swagger file: https://github.com/instrumenta/kubernetes-json-schema . Rationale described by kubeval is that Go Tooling is not convenient to validate against  OpenAPI schemas, whereas there is ample tooling for validating against JSON Schemas.

[2021-01-05 10:34] sttts commented on #219
pkg/validation is a go-swagger fork stripped down to implement exactly the semantics of our CRD validation API. go-swagger introduced unexpected changes in the past "to be a better swagger implementation", but it changed our API in unexpected and "forbidden" ways.

Technically you could validate manifests. But don't expect any compatibility of these packages in the future. They change in ways we n

[2021-01-05 10:38] sttts commented on #218
Are these enums "closed" in the sense that they will never be extended in the future?

In general, I am not against extending the schema. Please compare with the recent defaulting KEP by @apelisse. It is the same direction. It has some thoughts about syntax.

Also keep in mind that new tags must work with kubebuilder cc @DirectXMan12

[2021-01-05 22:32] apelisse commented on #218
Thanks Stefan, I completely agree with the sentiment.

An alternative syntax (I don't know if it's better), since "enums" always have to be lists, could be to repeat the tag:
[code]
That definitely uses more space.

Also, something else that is important to note. We already have mechanisms for "enums" by defining a string type, and then giving these types value. We could possibly use that mechanis

[2021-01-06 00:18] DirectXMan12 commented on #218
I'd prefer if folks synced with roughly what we use in kubebuilder -- see https://book.kubebuilder.io/reference/markers/crd-validation.html for the marker itself, and https://book.kubebuilder.io/reference/markers.html#marker-syntax for the syntax.

[2021-01-06 08:19] yannh commented on #218
Hi @DirectXMan12 ! That would mean, support for both "Surrounding them with curly braces and separating with commas"  and "Separated by semicolons" - for a single field called "+Enum"?  I'm fine with that - I would probably re-use your parsing code, if that's ok.

@apelisse : do we need to specify the type of an enum, or should it be inferred from the parameter type?
On the documentation - I'm ope

[2021-01-06 17:57] apelisse commented on #218
That seems very different from what we do for built-in types? I'd rather avoid having to do:
[code]

[2021-01-06 18:20] Jefftree commented on #203
I think this issue can be split into two parts:

1. *Aliases:* The first two examples deal with using aliases for a type. This is not currently supported since we don't resolve aliases when generating the OpenAPI spec, but I think it should be a nice addition. The changes required to support this should be solely on the kube-openapi side to propagate certain keys up from their aliases. I did somet

[2021-01-06 18:39] apelisse commented on #203
https://v1-18.docs.kubernetes.io/docs/reference/using-api/api-concepts/#merge-strategy

[2021-01-07 17:33] Jefftree commented on #203
Discussions from yesterday:

1. The atomic property should be attached to a field and not a type. Aliases are fine, but only the atomic property in the field will be read. Adding an atomic property to an alias type should have no effect. I'll try to see if the documentation can be updated to make this more clear. The below code is the proper way to use atomic with aliases and already works with ou

[2021-01-07 19:30] thockin commented on #218
Agree.  I should be able to say something like:

[code]

and get docs that say:

[code]

That's a trivial case.  What about a case where the enum values actually need their own comments?

[code]

with the resulting docs:

[code]

Now, I have intentionally violated godoc here (another reason for an IDL), but we could try to follow it better with some conventions.  This is still kind of a trivial ex

[2021-01-09 02:14] #205 closed

[2021-01-09 12:34] yannh commented on #218
Thanks for the comments! From my point of view - I am only interested in automated schema validation - any solution presented here would work for me. It however seems to go a bit beyond my understanding of this codebase - I'm not sure I would be able to implement these suggestions.

[2021-01-15 03:35] #206 closed

[2021-01-25 18:39] apelisse commented on #218
@yannh, Thanks for your help! We have to think of this problem holistically, I'd love to help you if you want to give it a try :-)

[2021-01-25 19:17] yannh commented on #219
@sttts I'm a bit confused :thinking: I want to validate Kubernetes manifests and Kubernetes CRDs - I would love to stay as close as possible to k/k's validation as possible (ideally if it breaks in Kubernetes, it should break in kubeval/kubeconform). Is the logic to validate CRDs different than the logic to validate other Resources such as Services & Deployments?

We (Kubeval/Kubeconform) have pro

[2021-02-02 05:30] longwuyuan opened #225 "hardcoded `git checkout` path at $GOPATH/src/k8s.io, is required, to pass `go test`, using github-actions"
Hi,

In github-actions ci, _"go test"_ fails, unless a _"mkdir $GOPATH/src/k8s.io"_ is done  _"$GOPATH/src"_ and _"git clone"_ is executed under _$GOPATH/src/k8s.io"_  .

But _"go build"_ works without the above specific path. So I am assuming that some piece of code under $PROJECT_HOME/test needs looking into.

Details here https://github.com/kubernetes/kube-openapi/pull/226

[2021-02-02 05:30] longwuyuan commented on #225
@nikhita @dims

[2021-02-02 18:01] galdor commented on #218
Is there a reason not to generate definitions for each enum type and use them in various places (other definitions, parameters, etc.) ? In the current situation, it is impossible to generate validating code, and it forces developers to hardcode enumeration values everywhere.

[2021-02-02 18:14] galdor opened #227 "Incomplete OpenAPI operation responses"
In the current state, the generated OpenAPI document does not include all response types in operations, and those which are defined do not always include a schema.

For example:
[code]

This is a problem because code generators cannot emit validation code or even just type signatures for functions sending requests.

Is there a reason this information is missing ?

[2021-02-04 04:10] longwuyuan commented on #225
https://github.com/kubernetes/kube-openapi/pull/226#issuecomment-772117989

[2021-02-11 03:42] longwuyuan commented on #225
A youtube video on Go tutorial says the first GOPATH gets used for dependencies but a second GOPATH works for custom directory tree of src. Need to test and read relevance to Go version ^1.14 .

[2021-02-15 12:53] #207 closed

[2021-03-05 00:53] apelisse commented on #225
There's a path variable in the checkout module that lets you chose where to check out, have you tried that?

[2021-03-05 00:56] apelisse commented on #225
@liggitt Clearly that's the problem :-)

[2021-03-05 01:07] longwuyuan commented on #225
I thought i tried the path option and i thought even the path  option forced checkout path as a subdir under "/home/runner/work" but the tests only look under $GOPATH /home/runner/go even though GO111MODULES=on was used.

Checking again now

[2021-03-05 01:13] apelisse commented on #225
You should be able to use GOPATH to set-up your path accordingly?

[2021-03-05 01:25] longwuyuan commented on #225
I just forked again and hoping to use the checkout action and GOPATH as you advised. WIll update asap.

[2021-03-05 05:30] longwuyuan commented on #225
- Using github-action module checkout ;
  - build passes, test fails with reason

[code]
- Using github-actions module checkout AND providing explicit GOPATH=/home/runner/go to "go test"
  - build passes, test fail with reason

[code]
- The details are here https://github.com/longwuyuan/kube-openapi/runs/2036384104?check_suite_focus=true
- I will now try other options
- There is a glaring change i

[2021-03-05 05:45] apelisse commented on #225
OK All these errors look like what I would have expected. Have you tried something like this (omitting things that are irrelevant to my point):
[code]
Does that make sense?

[2021-03-05 05:52] longwuyuan commented on #225
Thanks tons for these tips. I recall having what you suggested during my first attempt at this PR. But that path under /home/runner/go/src/k8s.io does not work because checkout@v2 only wants to use /home/runner/work even with path.

But we don't have a live working config and a run like that. So I will now configure that in my fork so we can have a clear config with path variable and a related pip

[2021-03-05 05:55] apelisse commented on #225
I'm not sure I follow you here. As long as the directories are structured properly (`$GOPATH/src/k8s.io/kube-openapi`), we're good, even if GOPATH is only set while the test runs.

[2021-03-05 06:31] longwuyuan commented on #225
Sorry for not being clear and explicit.
The _path_ env var of the checkout@v2 module is relative to $GITHUB_WORKSPACE and I am assuming that will not help to checkout the code to /home/me/go/src/k8s.io/kube-openapi . However I am configuring it to use the path variable as you suggested so we can have a run and hopefully know if I am assuming wrong

[2021-03-05 07:32] longwuyuan commented on #225
@apelisse after making the changes you sugested, build works (with corresponding cd command) but test fails with the reason ;

[code]

[2021-03-05 08:06] longwuyuan commented on #225
@apelisse I have confirmed that if I symlink the root of the checked-out code to a name "kube-openapi", the test pass.

This run with a symlink is visible at https://github.com/longwuyuan/kube-openapi/runs/2038034390?check_suite_focus=true

[2021-03-05 12:36] longwuyuan commented on #225
@apelisse Submitted a PR ;
- Used githubaction checkout@v2 out to path _${GITHUB_WORKSPACE}/src/k8s.io/kube-openapi/_
- Doing a  _cd ${GITHUB_WORKSPACE}/src/k8s.io/kube-openapi_ for build and test

Test passed

PS - Sincere apologies for so much time on a (now) seemingly trivial and obvious aspect. Beginner to go.

[2021-03-05 12:43] longwuyuan commented on #225
@dims cc

[2021-03-05 23:47] longwuyuan commented on #225
resolved for now with https://github.com/kubernetes/kube-openapi/pull/232

[2021-03-05 23:47] #225 closed

[2021-03-06 03:16] longwuyuan opened #233 ""module-aware" mode is not working during "go test", in github-actions CI pipeline"
@apelisse @dims Please advise and will do accordingly.

- Problem
While running github-actions CI, using go v.1.16, "go test" fails if GOPATH is not passed explicit to "go test"

- Description
  - module-aware mode is "on" by default in go version 1.16. So GOPATH should not be be required, as
    there is a "go.mod" file in the root of the repo
  - But "go test" fails in github-actions CI as well

[2021-03-06 03:38] apelisse commented on #233
I'd really like that issue to be solved. We're using GOPATH explicitly in the test, we clearly need to remove that dependency.

[2021-03-06 03:45] longwuyuan commented on #233
Thanks tons for the informative comment @apelisse. Humble request, could you kindly confirm its not trivial enough for a beginner. And hence we just keep this issue for tracking at least. ( just did a grep -ir GOPATH test) and got nothing :-)

[2021-03-06 03:47] apelisse commented on #233
I don't really know how it would be solved to be honest. It might be easy, but I haven't spent the time. It's probably doable for a beginner, but it's going to require getting your hands dirty. That's probably the best way to learn ;-)

[2021-03-06 03:50] longwuyuan commented on #233
scared, i just saw this ;

[code]

Not likely simply enough to just to a find/replace ... !  Have to evaluate impact of each line changed I guess !  or even study the package name thingall over the place !

[2021-04-16 06:13] StiviiK commented on #209
/remove-lifecycle rotten

[2021-04-16 07:29] StiviiK commented on #209
@contributers any ideas?

[2021-04-25 07:16] mayocream commented on #209
same issue

[2021-04-25 16:21] mayocream commented on #209
I solved it in my own case.
[code]

[2021-04-26 22:15] jpbetz commented on #218
For posterity-- I had attempted to solve this problem in late 2019: https://github.com/kubernetes/kube-openapi/pull/176. I decided to wait until a openapi v3 because it would be a breaking change to v2, and it looks like the bots closed it for me.

[2021-05-03 19:30] gearnode commented on #227
@fejta-bot /remove-lifecycle stale

[2021-05-03 19:31] gearnode commented on #227
/remove-lifecycle stale

[2021-05-26 16:40] chenrui333 opened #236 "travis-ci.org is going to be shutdown the end of this month"
👋 just saw the project is still using travis-ci.org for CI, and I have to call out that Travis is going to [shut it down on this May 31](https://blog.travis-ci.com/2021-05-07-orgshutdown).

[2021-06-06 18:24] #203 closed

[2021-06-24 21:32] #219 closed

[2021-07-29 01:02] jiahuif commented on #218
/remove-lifecycle stale
Reopening because I am starting to work on this feature.

[2021-07-29 07:08] ravipwaghmare opened #241 "Is there any way to convert my k8s CRD into OpenApi json ?"
This is my Sample CRD and I want to generate OpenAPI JSON from it.
Is there any way to do it automatically?
---
            apiVersion: apiextensions.k8s.io/v1beta1
            kind: CustomResourceDefinition
            metadata:
              annotations:
                controller-gen.kubebuilder.io/version: v0.2.4
              creationTimestamp: null
              name: sampleapps.app.mydomain

[2021-08-02 04:41] galdor commented on #227
Does anyone care ? If not, is the project active ? If Kube does not officially support this OpenAPI specification, it would be nice to know.

/remove-lifecycle stale

[2021-08-03 05:38] #233 closed

[2021-08-22 10:34] ash2k commented on #236
/close

I think it does not anymore, so closing this issue.

[2021-08-22 10:34] #236 closed

[2021-09-14 22:08] liggitt opened #245 "current version of json-iterator incompatible with go1.18"
json-iterator just cut a new release to address incompatibilities with the current go development version (will be go1.18)

xref:
* https://github.com/kubernetes/kubernetes/pull/104949
* https://github.com/kubernetes/kubernetes/issues/104947
* https://github.com/json-iterator/go/releases/tag/v1.1.12
* https://github.com/modern-go/reflect2

[2021-09-24 20:17] austince opened #248 "Allow Types to Specify an Example"
Feature request to allow types to register an Example (to be placed in `Schema.Example`). It seems like what is currently done for custom types + formats would work (`OpenAPISchemaType()` method registered on type).

I'd propose the method definition to be:
[code]

The same method would probably work for v3 as well.

Another approach would be to use the `WriteSample` and `ReadSample` on the `restf

[2021-09-24 22:43] #209 closed

[2021-09-27 20:51] austince opened #250 "Decouple REST Framework"
Currently, the `builder` package is tightly coupled with a 2017 version of [`go-restful`](https://github.com/emicklei/go-restful/). This dependency is exposed in three places:
* the builder's `BuildOpenAPISpec`, which takes a slice of `*restful.WebService`s
* the common config's `GetOperationIDAndTags` function, which takes a `*restful.Route`
* the handler's `BuildAndRegisterOpenAPIVersionedServic

[2021-09-27 21:45] austince commented on #250
I've got a work-in-progress that accomplishes this and passes the current tests here: https://github.com/kubernetes/kube-openapi/compare/master...austince:feat/decouple-restful?expand=1

If the direction is good, just needs docs, some nicer JSON marshaling in the adapter, and a release strategy.

[2021-09-28 20:27] fedebongio commented on #250
/sig api-machinery

[2021-09-28 20:28] austince commented on #248
/sig api-machinery

[2021-09-28 20:30] austince commented on #241
@ravipwaghmare – can you just take the `spec.validation.openAPIV3Schema` field, or am I missing something?

[2021-11-05 16:18] hasheddan opened #262 "Field path reported in validation errors within slice is incorrect"
I noticed when validating a custom resource using the apiextensions [NewSchemaValidator](https://github.com/kubernetes/apiextensions-apiserver/blob/4c1a29cbb037397b8bd796378443a06075a64a83/pkg/apiserver/validation/validation.go#L33) (which is using the [SchemaValidator](https://github.com/kubernetes/kube-openapi/blob/ee342a809c29ce286ab48cea8442ef9cd0ab8c1c/pkg/validation/validate/schema.go#L34) i

[2021-11-06 11:59] hasheddan commented on #262
Pinging a few relevant folks to get feedback on proposal :) @apelisse @sttts I would love to get this opened and merged quickly if y'all are on board 👍🏻 Thanks for the work y'all do here!

[2021-11-11 22:43] apelisse commented on #262
I'd love to see and comment on a PR for that, I agree that the JSONPath is more consistent with the general consensus and is consistent with what @kevindelgado is doing for return strict decoding errors.

While reading your description and the code, it's not clear to me why we're not creating a new validator for each individual child rather than do what you suggest in 1.? Happy to have this discus

[2021-11-30 08:06] gearnode commented on #227
/remove-lifecycle stale

[2021-11-30 08:07] gearnode commented on #227
/remove-lifecycle rotten

[2021-11-30 18:03] apelisse commented on #218
Not sure if we need to close this, the feature is only alpha at the moment. Let's probably keep it open until beta at least.
/remove-lifecycle rotten

[2021-11-30 18:05] apelisse commented on #218
For reference, this is the [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2887-openapi-enum-types) and this is the [enhancement](https://github.com/kubernetes/enhancements/issues/2887).

[2021-12-08 01:04] hasheddan commented on #262
@apelisse I think there may be some confusion around my terminology for parent and child validators (given the recursive nature of the validation we are performing here). What I am actually referring to is the `SchemaValidator` (parent) and the specific type validators it contains (children). I have opened a PR with fixes here: https://github.com/kubernetes/kube-openapi/pull/273

Looking forward t

[2022-01-04 15:06] #262 closed

[2022-01-05 17:12] austince commented on #250
/remove-lifecycle stale

[2022-01-12 07:46] #250 closed

[2022-02-25 20:43] #248 closed

[2022-02-25 21:43] #241 closed

[2022-02-28 08:44] galdor commented on #227
Does someone even care ? Is the OpenAPI schema even maintained ? If not, could you please archive this repository so that people like me do not waste time reporting issues which will go straight to /dev/null ?

/remove-lifecycle rotten

[2022-03-03 17:46] liggitt opened #281 "Omit list_type_missing lint error from *List types"
list_type is only useful when writing, and writes to *List types (containing metav1.ListMeta) are not written to

currently, every list type has a lint violation exception in place because of this, and every API promotion adds a new violation

[2022-03-22 19:42] Jefftree opened #294 "Integration tests should fail if generated openapi file is updated"
https://github.com/kubernetes/kube-openapi/pull/289#discussion_r832468565

[2022-03-22 22:41] jiahuif commented on #294
In https://github.com/kubernetes/kube-openapi/blob/master/test/integration/integration_suite_test.go

The code-gen runs during BeforeSuite, which will have already overwritten existing generated files. During the `openapi-gen --verify` step, the verification will always pass because the expected content is already written to disk.

[2022-03-22 23:44] jiahuif commented on #294
/assign

[2022-03-24 18:41] cici37 opened #296 "Inconsistent in error `Value`"
"kube-openapi is super inconsistent about what it places in Value for these errors... in some cases, it's the value, in some cases, it's the actual length, in some cases, it's the max length. The unit tests will reveal if propagating value into the field error makes for a sensible or weird error... " from https://github.com/kubernetes/kubernetes/pull/108859#discussion_r834585755

[2022-03-30 20:20] apelisse commented on #218
This is beta now, maybe we can close it?

[2022-03-30 20:21] jiahuif commented on #218
Yes! We can consider this implemented.
/close

[2022-03-30 20:21] #218 closed

[2022-04-29 09:33] #227 closed

[2022-07-10 09:38] reidlai opened #309 "Vulnerability report CVE-2022-1996"
### What happened?

just found K8S Go Client hit CVE report detected by gosec

Details about the CVE can be found here: https://avd.aquasec.com/nvd/cve-2022-1996

Libraries hit by gosec
================
k8s.io/client-go@v0.24.1 github.com/emicklei/go-restful@v2.9.5+incompatible
k8s.io/kube-openapi@v0.0.0-20220328201542-3ee0da9b0b42 github.com/emicklei/go-restful@v0.0.0-20170410110728-ff4f55a20633

[2022-07-11 09:39] sftim commented on #309
See https://github.com/kubernetes/kube-openapi/pull/304

/triage duplicate

[2022-07-20 06:48] kerthcet commented on #281
/remove-lifecycle rotten

[2022-07-20 06:58] kerthcet commented on #281
Revisit this problem as we have to add the violations for each version.
https://github.com/kubernetes/kubernetes/blob/55224e3bb94cdcfdd1fff5c5a4bdf84eeb67f949/api/api-rules/violation_exceptions.list#L346-L354

[2022-07-21 20:30] alculquicondor commented on #281
The comment above is for `[]byte`

[2022-07-21 20:32] Jefftree commented on #294
/remove-lifecycle stale

[2022-08-20 20:56] #294 closed

[2022-09-06 20:39] apelisse opened #315 "Deserializing into `spec.Swagger` is almost 20x slower than deserializing into `map[string]interface{}`"
Running the following benchmark on my laptop:
[code]

Yields the following results:
[code]
For readability purposes, that's 529ms and 29ms respectively.

For context, this is about [`spec.Swagger`](https://github.com/kubernetes/kube-openapi/blob/master/pkg/validation/spec/swagger.go#L24-L32), the OpenAPI v2 definition which is mostly a clone of [`go-openapi`](https://github.com/go-openapi/spec)

A

[2022-09-06 20:42] alexzielenski commented on #315
/assign @alexzielenski

[2022-09-06 20:43] alexzielenski commented on #315
I will try out Jordan's idea with your benchmark for spec.Swagger and see post results back here

[2022-09-06 21:22] rsc commented on #315
Can you please attach the api/openapi-spec/swagger.json file to the issue? Or link to it?

[2022-09-06 21:23] alexzielenski commented on #315
@rsc

https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json

[2022-09-06 22:45] justinsb commented on #315
protobuf has a nice JSON streaming API, albeit hidden in an internal package .... maybe we should benchmark & consider using (a copy of) that?

https://github.com/protocolbuffers/protobuf-go/blob/6875c3d7242d1a3db910ce8a504f124cb840c23a/encoding/protojson/decode.go#L116

[2022-09-07 00:19] alexzielenski commented on #315
Tried experience with Jordan's suggestion. Here is a comparison of my changes along with Antoine's benchmark:

https://github.com/kubernetes/kube-openapi/compare/master...alexzielenski:kube-openapi:unmarshal-unstructured

On my machine runs in 72ms to unmarshal JSON to spec.Swagger via `map[string]interface{}`.

goos: darwin
goarch: arm64
pkg: k8s.io/kube-openapi/pkg/validation/spec
BenchmarkJsonU

[2022-09-07 13:03] liggitt commented on #315
that seems way faster... how does that compare to the unmarshal time into old spec.Swagger and map[string]interface{} on your machine?

[2022-09-07 14:07] alexzielenski commented on #315
on my same machine

[code]

423ms to `spec.Swagger`
26ms to `map[string]interface{}`

[2022-09-07 15:31] apelisse commented on #315
Yeah, I get about the same thing
[code]

We're still 3x slower, much better, we can probably live with that.

[2022-09-07 23:52] dsnet commented on #315
I got nerd-sniped by @rsc into looking at this.

The behavior of JSON unmarshaling in Swagger is even worse than O(n^2) since it recursively unmarshals the same JSON input [up to 5 times in some places](https://github.com/go-openapi/spec/blob/c82289c384be80cce94c5865c481526618853bd8/parameter.go#L287-L301).

There's an experimental JSON module that permits custom types to unmarshal themselves in a

[2022-09-08 00:32] dsnet commented on #315
@justinsb regarding https://github.com/kubernetes/kube-openapi/issues/315#issuecomment-1238725371:

The [`go-json-experiment` module](https://pkg.go.dev/github.com/go-json-experiment/json) is based on lessons learned from implementing a tokenized JSON parser in the protobuf module (where the JSON implementation in protobuf itself was re-implemented 2 or 3 times during its lifetime). `go-json-exper

[2022-09-08 19:50] apelisse commented on #315
Posting with memory allocations since that's also super critical in k8s:
[code]

[2022-09-08 20:06] dsnet commented on #315
It'd be interesting to figure out how many allocations is needed at minimum to allocate the entire `Swagger` value. This way we can tell how many allocations are being done by JSON that could possibly be eliminated.

[2022-09-29 17:42] benluddy opened #321 "openapi-gen output is nondeterministic for enum values declared outside the package of the enum type"
Given an enum type in package "foo":

[code]

and values declared in another package "bar":

[code]

instances of `foo.Protocol` in the resulting schema will have either `["TCP", "UDP"]` or `["TCP", "UDP", "SCTP"]` as the value of `enum`, depending on whether "foo" or "bar" is processed first during a [map iteration](https://github.com/kubernetes/kube-openapi/blob/b7a9e6fe3bb6adf5263a4086de91f1c56

[2022-09-29 17:42] benluddy commented on #321
/assign

[2022-10-12 16:33] apelisse commented on #315
/close

[2022-10-13 17:07] apelisse opened #323 "openapi-gen should fail if `listType=set` is applied to non-scalar"
Today, you can totally do:
[code]

which shouldn't be accepted. We should fail with this as early as possible.

[2022-10-27 16:03] apelisse opened #324 "`json.Marshal` allocates a lot of unnecessary memory"
This is a follow-up of #315/#319. Now that `Unmarshaling` has been fixed, we need to worry about the next big thing, `Marshaling`.

As we can see from the pprof heap profile (alloc_space) below, `json.Marshal` is allocating a lot of memory, certainly because it serializes in buffers that are quickly discarded as these buffers are "concatenated" (e.g. https://github.com/kubernetes/kube-openapi/blob

[2022-10-27 17:57] dsnet commented on #324
Couldn't you do the opposite as `UnmarshalNextJSON`?
[code]

[2022-10-27 18:00] apelisse commented on #324
For `Header` it works because none of the types in X have a custom `MarshalJSON`/`MarshalNextJSON` function, but if they do, then only one will get called AFAICT.

[2022-10-27 18:02] dsnet commented on #324
If I recall most of them were fine. Which type wasn't?

[2022-10-27 18:28] alexzielenski commented on #324
@dsnet [`Operation`](https://github.com/kubernetes/kube-openapi/blob/395774f82b7ee625ea5bad9297dcb4977de36289/pkg/validation/spec/operation.go#L73-L76) embeds `OperationProps` which needs custom marshaling (so omit empty distinguishes nil from 0-length)

we did not see a way to get the inlining to work without somehow duplicating `OperationProps`' marshaling logic into `Operation` itself which is

[2022-10-27 18:54] dsnet commented on #324
That's unfortunate. It seems that the only reason why `OperationProps.MarshalJSON` exists is because v1 doesn't support a `omitzero` tag that omits empty only nil slices.

How about?
[code]

See https://pkg.go.dev/github.com/go-json-experiment/json#hdr-JSON_Representation_of_Go_structs for the semantics of `omitzero` vs `omitempty`.

[2022-10-27 18:57] dsnet commented on #324
It's unfortunate that we need to declare the `OperationPropsAlt` type, but fortunately it's not a significant hit to maintainability since the language semantics of golang/go#16085 requires that `OperationProps` and `OperationPropsAlt` have the same field layout, so added/removed fields in `OperationProps` will result in a build failure until the equivalent change in made in `OperationPropsAlt`.

[2022-11-06 11:30] #321 closed

[2022-11-30 20:58] Jefftree commented on #309
/close

should be fixed by https://github.com/kubernetes/kube-openapi/pull/304 already

[2022-11-30 20:58] #309 closed

[2022-11-30 21:12] Jefftree commented on #281
/remove-lifecycle rotten

[2022-11-30 21:24] Jefftree commented on #281
Based on the lint rules, it looks like if ListMeta is embedded, the list type should not need to be included. (https://github.com/kubernetes/kube-openapi/blob/master/pkg/generators/rules/idl_tag.go#L29-L33)

For https://github.com/kubernetes/kubernetes/pull/108445, the error is a bit cryptic, it should be a list type should not be included error rather than a list type missing error.

For https://